body {
    background: linear-gradient(180deg, #FFA740 0%, rgba(103, 16, 103, 0) 100%), #4E018A;
    height: 100%;
    color: white;
    font-size: 19px;
    font-family: 'Fragment Mono', monospace;
}

h1 { 
    font-size: 50px;
    font-family: 'Fragment Mono', monospace;
    position: center
    

}


/* 
@selects class="text-input-container"
@description: legger texten og input feltet på samme rad, og gir rom i mellom

*/

.text-input-container {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 400px;
}


/* 
@selects class="question-container-age"
@description: gir rom mellom elementene i classen

*/

.question-container-age {
    display: flex;
    margin-left: 605px;
    width: 500px;
    padding: 10px;
    justify-content: space-evenly;
    flex-direction: row;
}


/* 
@selects class="question-container"
@description: plaserer hele text + input delen av skjemat i midten og gir rom mellom elementene

*/

.question-container {
    display: flex;
    margin: 15px;
    width: auto;
    padding: 10px;
    justify-content: space-evenly;
    flex-direction: row;
}




/* 
@selects class="centreForm"
@description: Sentrerer formen i midten af skærmen

*/
.centreForm {
    text-align: center;
}

/* 
@selects <input type="range">
@description: Gir slideren en bredde og nul margin i x-rettning
*/

input[type="range"] {
    width: 400px;
    margin: 0;
}


/* 
@selects class="slider-container"
@description: Gjør elementet om til en flexbox, med en x margin på 15px, bredden er automatisk basert på boks bredden, og mellomrommet mellom elementet og kanten av boksen er 10px. Klassen har justify content space-bretween for å spre mellomrommet jevnt mellom sliderene.
*/
.slider-container {
    display: flex;
    margin: 15px;
    width: auto;
    padding: 10px;
    justify-content: space-evenly;
    color: white;
    
}

.textbox-container {
    color: white;
    display: 100px;
    margin: 15px;
    width: 500px;
    padding: 50px;
}

/* 
@selects <label>
@description: Gir labelen en block display, og en bredde på 300px. Gjordt slik for å kunne plassere tekst elementene uten at teksten går på neste linje eller at slideren blir mindre/større pga. tekst lengde.
*/

label {
    display: block;
    width: 300px;
}

/*
Submit knapp for formen
*/

.submitB {

  color: rgba(255,255,255,1);
  background-color: rgba(128,128,128,0.5);
  border: none;
  padding: 15px 100px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: 'Fragment Mono', monospace;
  border-radius: 30px;

}

/*
@hjemknapp på web-form
*/

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
  background-color: transparent;
  color: black;
  border: 2px solid #4CAF50;
  border-width: thick;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

/*Title rad posisjonering*/

.title-row {
    display: flex;
    align-content: space-between;
    flex-direction: column;
}